@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
 
@model IEnumerable<Ferroli.Models.tblProduct>
<div class="Clear"></div>
<div id="MainContent">
    <div class="Root">
        <div class="Left">
            <a href="" title="">  <span class="iCon"></span>Trang chủ /</a>  tìm kiếm
        </div>
        <div class="share">
            <span>Chia sẻ</span>
            <a class="share-face" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.ToString()">&nbsp;</a>
            <a class="share-mail-2" target="_blank" href="mailto:seabig.vn@gmail.com?Subject=Ferroli Website - Tôi quan tâm tới mục này&amp;body=@Request.Url.ToString()">&nbsp;</a>
            <a class="share-google" target="_blank" href="https://plus.google.com/share?url=@Request.Url.ToString()">&nbsp;</a>
        </div>
    </div>

    <div class="Clear"></div>
    <div id="Contents">
        @{Html.RenderAction("LeftContent", "Left");}
        <div id="RightContent">
                        <div class="Product">
                <div class="nVar">
                    <div class="Left">
                        <h1>
                           kết quả tìm kiếm : "@Html.Raw(ViewBag.chuoi)"
                        </h1>
                    </div>
                    <div class="Right">
                        <select class="Arrange">
                            <option value="0" selected="selected">Sắp xếp theo giá</option>
                            <option value="1">Tăng dần</option>
                            <option value="2">Giảm dần</option>
                        </select>
                    </div>
                </div>
                <div class="Content">
                    @foreach(var item in Model)
                    {
                    <div class="Tear_1">
                        <div class="New">
                        </div>
                        <div class="img">
                            <a href="/Product/@item.Tag-@item.id@Html.Raw(".aspx")" title="@item.Name"><img src="@item.ImageLinkThumb" alt="@item.Name" /></a>
                        </div>
                        <a class="Name" href="/Product/@item.Tag-@item.id@Html.Raw(".aspx")" title="@item.Name">@item.Name</a>
                        <p class="Price">Giá : <span>@string.Format("{0:#,#}", item.Price)  đ</span></p>
                        <p class="PriceSale"> Khuyến mại : <span>@string.Format("{0:#,#}", item.PriceSale)  đ</span></p>
                    </div>
                    }
                     
                </div>
            </div>
        </div>
    </div>
    <div class="Clear"></div>
</div>
