@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Ferroli.Models.tblNew
 <div id="MainContent">
    <div class="Root">
        <div class="Left">
            @Html.Raw(ViewBag.nUrl)
        </div>
        <div class="share">
            <span>Chia sẻ</span>
            <a class="share-face" target="_blank" href="">&nbsp;</a>
            <a class="share-mail-2" target="_blank" href="mailto:info@ferroli.com.vn?Subject=Ferroli Website - Tôi quan tâm tới mục này&amp;body=ferroli.com.vn/binh-nuoc-nong-truc-tiep/c/2">&nbsp;</a>
            <a class="share-google" target="_blank" href="https://plus.google.com/share?url=ferroli.com.vn/binh-nuoc-nong-truc-tiep/c/2">&nbsp;</a>
        </div>
    </div>
    <div class="Clear"></div>
    <div id="Contents">
        <div id="LeftContent">
            @{Html.RenderAction("LeftNewsPartail", "Left");}
            <div id="box_Download">
                <a href="" title="">Hướng dẫn sử dụng</a>
            </div>

            @{Html.RenderAction("SupportPartial", "Left");}
            @{Html.RenderAction("UrlPartial", "Left");}
        </div>
        <div id="RightContent">
            <div id="New_Detail">
                <h1>@Model.Name</h1>
                <span class="Date">Viết ngày : @Model.DateCreate</span>
                <div class="Slution"></div>
                <div class="DescriptionNews">
                 @Html.Raw( @Model.Description)
                </div>
                <div class="Tintuclienquan">
                    @Html.Raw(ViewBag.chuoinew)
                    
                </div>
                <div class="Contentnews">

                  @Html.Raw(  @Model.Content)
                </div>
                <div id="Comments">
                    <div class="nVar_1">
                        <span>Nhận xét đánh giá</span>
                    </div>
                    <div class="Slution">
                        <div class="Mxh" style="float: left; width: 270px; margin-left: 2px">
                            <div class="fb-like" data-send="true" data-layout="button_count" data-width="60"
                                 data-show-faces="true">
                            </div>
                          
                            <div id="g" style="float: left; margin: 7px 5px; height: 15px; width: 20px">
                                <g:plusone size="medium"></g:plusone>
                            </div>
                        </div>
                    </div>
                    <div class="Content_Comment">
                        <div class="fb-comments" data-href="@Request.Url.ToString()" data-num-posts="20" style="width:100%; float:left; margin:0px" width="100%"></div>
                    </div>
                    <div class="Clear"></div>

                    </div>
                <div class="Clear"></div>

                </div>
            </div>
        <div class="Clear"></div>

        </div>
     <div class="Clear"></div>
      
</div>
@Html.Raw(ViewBag.coppy)
 <div id="LinkOut">
     <a href="http://Thegioibinhnonglanh.vn" title="Bình nóng lạnh">Bình nóng lạnh</a> trong đó,<a href="http://Thegioibinhnonglanh.vn/binh-nong-lanh-ferroli-lp" title="Bình nóng lạnh Ferroli">Bình nóng lạnh Ferroli</a> là sự lựa chọn tốt,<a href="http://thayloilocnuoc.com" title="Thay lõi lọc nước Kangaroo tại nhà">Thay lõi lọc nước Kangaroo tại nhà</a> với <a href="http://kangaroochinhhang.vn" title="Kangaroo chính hãng">Kangaroo chính hãng</a> của <a href="https://kangaroochinhhang.vn/may-loc-nuoc-kangaroo" title="Máy lọc nước kangaroo"></a> với các sản phẩm như <a href="https://kangaroochinhhang.vn/loi-loc-nuoc-kangaroo" title="Lõi lọc nước Kangaroo">Lõi lọc nước của Kangaroo</a> nếu như bạn mua <a href="http://viglaceravietnam.com" title="Thiết bị vệ sinh Viglacera">Thiết bị vệ sinh Viglacera</a>
     Nước nhà mình bị ôi nhiễm và cần mua một chiếc  <a href="http://karofichinhhang.vn">Máy lọc nước Karofi</a>, dùng 3 tháng thì mình thay <a href="http://karofichinhhang.vn/loi-loc-nuoc-karofi" title="Lõi lọc nước Karofi">lõi lọc nước Karofi</a>
 </div>