@model Ferroli.Models.tblConfig
@Html.Raw(ViewBag.h1)
<div id="Top">
    <div id="Content">
        <div id="Banner">
            <div id="LeftBanner">
                <a href="/" title="Bình nóng lạnh Ferroli"><img src="@Model.Logo" alt="Logo Ferroli" /></a>
            </div>
            <div id="RightBanner">
                <div id="Left">
                    <div id="Box">

                        <span class="iCon_Hotline"></span>
                        <span>Cơ sở 1: </span>
                        <span class="Hotline">@Model.Hotline1</span>
                        <span>Cơ sở 2: </span>
                        <span class="Hotline">@Model.Hotline2</span>
                        <span style="margin-left:15px; display:block; color:#ff6a00; font-size:15px; padding:5px; border:1px #ff6a00 dashed; font-weight:bold; text-transform:uppercase"> Làm việc từ :8H00 - 19H30 hàng ngày </span>



                    </div>
                    </div>
                <div id="Right">
                    <div id="Right_Top">
                        <a href="http://binhnonglanhferroli.vn" title="Binh nong lanh ferroli" rel="nofollow">Trang chủ</a> | <a href="/11/gioi-thieu.aspx" title="Gioi thieu" rel="nofollow">Giới thiệu</a> |<a href="/ListNew/binh-nong-lanh-ferroli-5.aspx" title="Gioi thieu" rel="nofollow">Tin tức</a> | <a href="/Contact" title="Lien he" rel="nofollow">Liên hệ</a>
                    </div>
                    <div id="Right_Bottom">
                        @using (Html.BeginForm("Search", "Default", FormMethod.Post))
                        {
                            <input type="text" name="txtSearch" id="txtSearch" class="txtSearch" />
                            <button type="submit" name="btnSearch" id="btnSearch" class="btnSearch"></button>
                        }
                    </div>
                    <div class="Clear"></div>
                </div>
            </div>
        </div>
        <div class="Clear"></div>
        <div class="dropdown">
            @*<select name="one" class="dropdown-select">
                    <option value="">-- Chọn danh mục sản phẩm --</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>*@
            @Html.DropDownList("one", "-- Chọn danh mục sản phẩm --")
        </div>

        <div id="Menu">
            <ul class="ul1">
                <li class="li1">
                    <a href="/chuong-trinh-khuyen-mai" title="Bình nóng lạnh Ferroli" style="color:#ff0000">Khuyến mại</a>

                </li>


                @Html.Raw(ViewBag.Menu)

                <li class="li1">
                    <a href="/Contact" title="Liên hệ" rel="nofollow">Hỗ trơ khách hàng</a>
                </li>
            </ul>
        </div>
        <div class="Clear"></div>
    </div>
</div>
 